
.guildemblem_form {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 50px;
}

.guild {
	padding-bottom: 15px;
}
.guildemblem {
	position: relative;
	display: inline-block;
	width: 128px;
	height: 128px;
	background-color: #444;
}

.guildemblem canvas {
	position: absolute;
}
