body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;

	font-family: sans-serif;
}

.dye_app {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;

	display: flex;
	flex-flow: column nowrap;
	background-color: rgb(23, 27, 40); /* Midnight Sky on cloth */
}

.menu {
	flex: 0 0 auto;
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 0.5em;
	margin: 0 1em 1em 1em;
}
.mainmenu {
	background-color: black;
	border-radius: 0 0 0.5em 0.5em;
	margin: 0 1em 1em 1em;
}

.menu > * {
	display: block;
	position: relative;
	height: 3em;
	padding: 0 1em;
	line-height: 3em;
	color: inherit !important;
	text-decoration: none;
	cursor: pointer;
}

.menu > * > img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
	height: 60%;
}
.menu > *.active > .underline {
	background-color: rgb(67, 26, 0); /* Umber on cloth */
}

.menu > *:hover > .underline {
	background-color: rgb(67, 26, 0); /* Umber on cloth */
}

.underline {
	position: absolute;
	left: 1.5em;
	right: 1.5em;
	bottom: -5px;
	height: 3px;
	background-color: transparent;
	transition: background-color 0.3s ease;
}

.menu > a:first-child > .underline {
	left: 4em;
}

.main_panel {
	flex: 1 1 auto;
	min-height: 0px;

	/* contains left_panel and right_panel */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
}

.main_panel > div {
	flex: 1 1 auto;
	overflow-y: auto;
}

.main_panel > div.left_panel {
	flex: 0 0 auto;
	width: 290px;

	position: relative;
	background-color: black;
	border-radius: 0.5em;
	margin: 0 0 1em 1em;
}
.left_panel_inner {
	position: absolute;
	left: 1em;
	top: 1em;
	right: 0.5em;
	padding-right: 0.5em;
	bottom: 1em;
	overflow-y: auto;
}

.main_panel > div.right_panel {
	flex: 1 1 1px;
}

.hplink {
	display: block;
	text-align: center;
	font-size: 130%;
	margin: 0 0 8px 0;
	text-decoration: none;
}

.right_panel {
	flex: 1 1 0px;
	min-height: 0px;
	margin: 0 1em 1em 1em;

	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.left_panel_inner, .right_panel {
	scrollbar-color: rgb(156, 126, 81) black;
}
.left_panel_inner::-webkit-scrollbar, .right_panel::-webkit-scrollbar {
	background-color: black;
}
.left_panel_inner::-webkit-scrollbar-thumb, .right_panel::-webkit-scrollbar-thumb {
	background-color: rgb(156, 126, 81);
}

.content, .content_fw {
	flex: 1 1 auto;
	height: 100%;
	overflow-y: auto;
	border-radius: 0.5em;
	box-sizing: border-box;

	background-color: black;
}
.content {
	max-width: 1000px;
	padding: 1em 2em;
}
.content_fw {
	max-width: 100%;
}

.loading {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
