
blockquote {
	padding: 4px;

	border: 1px solid white;
	background-color: #111;
}

select, button, input {
	border-color: rgb(67, 26, 0); /* Umber on cloth */
	background-color: rgb(67, 26, 0); /* Umber on cloth */
	color: rgb(211, 208, 207); /* Celestial on cloth */
}

.fw_inputs button, .fw_inputs select {
	width: calc(100% - 10px);
	margin-bottom: 2px;
}
.fw_inputs input {
	width: calc(100% - 18px);
}

th {
	text-align: center;
	font-weight: bold;
}
