
.slist_outer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
}
.slist_column {
	position: relative;
	flex: 0 0 auto;
}
div.slist_row {
	height: 128px;
	white-space: nowrap;
}
.slist_column.left {
	padding-top: 0px;
}
.slist_column.middle {
	flex: 1 1 auto;
	padding-top: 32px;
}
.slist_column.right {
	padding-top: 64px;
}

.dyerectangle.slist_rect {
	display: block;
	width: 100%;
	min-width: 150px;
	height: 64px;
}
.slist_rect:nth-child(odd) .text {
	text-align: left;
}
.slist_rect:nth-child(even) .text {
	text-align: right;
}
